:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --button-hover: rgba(255, 0, 112, 0.4);
  --subtitle-bg: #ff0070;
  --subtitle-color: #000028;
  --decorative-color: #ff0070;
}

.theme-dark .page {
  background-image: var(--bg-image);
}

