*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
}

body {
  margin: 0;
}

body.page {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 1.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
  z-index: -1;
}

.decorated-zone::before {
  inset-block-start: 0;
  inset-inline-end: 0;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  inset-block-end: 0;
  inset-inline-start: 0;
  border-inline-end: none;
  border-block-start: none;
}
