/* Глобальные стили и декоративные уголки */

* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 1.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  color: inherit;
  font: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}
