/* Светлая тема по классу */

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc8e8;
  --button-hover: rgba(50, 49, 45, 0.4);
  --subtitle-bg: #ff8dcb;
  --subtitle-color: #353430;
  --decorative-color: #ff8dcb;
}

.theme-light .page {
  background-image: var(--bg-image);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc8e8;
    --button-hover: rgba(50, 49, 45, 0.4);
    --subtitle-bg: #ff8dcb;
    --subtitle-color: #353430;
    --decorative-color: #ff8dcb;
  }
}
