/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --card-bg: #ff8dcb;
  --card-text: #353430;
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --decor-color: transparent;
  --bg-image: url("../images/cover-image.png");
}

.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --card-bg: #ff8dcb;
    --card-text: #353430;
    --button-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --decor-color: transparent;
    --bg-image: url("../images/cover-image.png");
  }

  .header__decor {
    display: none;
  }
}
