.header {
  min-block-size: 100vh;
  padding: var(--gap-xs);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: var(--gap-xs);
}

.header__theme-menu-button {
  padding: 4px 12px;
  color: var(--accent-color);
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__rec {
  position: absolute;
  inset-block-start: var(--gap-xs);
  inset-inline-end: var(--gap-s);
  color: var(--accent-color);
}

.title-decor {
  background: var(--subtitle-bg);
  color: var(--subtitle-color);
  padding: 2px 10px;
  font-weight: 700;
}

.content {
  padding: var(--gap-l) var(--gap-xs);
}

.content__title {
  color: var(--accent-color);
  margin-block-end: var(--gap-s);
}

.gallery {
  display: grid;
  gap: var(--gap-xs);
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  min-block-size: 100vh;
  display: grid;
  place-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px
